@font-face {
  font-family: "data70";
  src: url("/static/fonts/data70.eot");
  src: url("/static/fonts/data70.eot?#iefix") format("embedded-opentype"),
    url("/static/fonts/data70.woff") format("woff"),
    url("/static/fonts/data70.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
